.articles {
  background-color: $veryLightGray;

  text-align: center;

  @include breakpoint-up(medium) {
    text-align: left;
  }
}

.article {
  &__content {
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.875rem;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    max-width: 50%;
    margin: 0 auto;

    @include breakpoint-up(medium) {
      max-width: 100%;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
      transition: all 150ms ease-in-out;
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }
  }

  &__image {
    height: 12.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__text {
    background-color: $white;
    padding: 1.875rem 1.875rem 2.5rem 1.875rem;
    @include breakpoint-up(medium) {
      padding: 1.875rem 1.562rem;
    }
  }

  &__author {
    font-size: 0.625rem;
    color: $grayishBlue;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 0.875rem;
    line-height: 1.15;
    color: $darkBlue;
    margin-bottom: 1rem;
    &:hover {
      color: $limeGreen;
      cursor: pointer;
    }
  }

  &__description {
    font-size: 0.8125rem;
  }
}
